body, html {
  height: 100vh;
  background-color: #1666ba;
  overflow: hidden;
  padding: 1em;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Frank Ruhl Libre', serif;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-top: .5em;
  font-size: 24px;
  width: 100%;
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}